@import "./grid/bootstrap";
@import "../../node_modules/modularscale-sass/stylesheets/modularscale";
@import "global";
@import "typography";
@import "btn";

body {
  background: $white;
}

.accordion {
  &__header {
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
    background: $light-gray;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 1px solid $gray;

    &::before {
      content: "\f067";
      font-family: FontAwesome;
      padding-right: 0.5rem;
    }

    &.-ba-is-active {
      &::before {
        content: "\f068";
        font-family: FontAwesome;
      }
    }
  }

  &__panel {
    max-height: 75vh !important;
    overflow: hidden;
    transition: all ease-in-out 0.4s;

    &.-ba-is-hidden {
      max-height: 0 !important;
      visibility: hidden;
    }
  }

  &__inner {
    border: 1px solid $light-gray;
    border-top: 0;
    padding: 2rem;
  }
}
